---
import Header from "../components/Header.tsx";
import Experiencia from "../components/Experiencia.tsx";
import Proyectos from "../components/Proyectos.tsx";
import FormContacto from "../components/FormContacto.tsx";
import RevealObserver from "../components/RevealObserver";
import BackToTop from "../components/BackToTop";
import Skills from "../components/Skills";
import AboutMe from "../components/AboutMe";
import Footer from "../components/Footer";
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Nudav Studio</title>
    <link rel="icon" href="/nudav-circular1.png" />
    <meta name="theme-color" content="#071427" />
  </head>
  <body>
    <RevealObserver client:load />
    <Header />
    <main>
      <Experiencia />
      <Proyectos client:load />
      <Skills />
      <AboutMe />
      <FormContacto client:load />
      <Footer />
      <BackToTop client:load />
    </main>
  </body>
</html>
