---
import Header from "../components/Header.tsx";
import Experiencia from "../components/Experiencia.tsx";
import Proyectos from "../components/Proyectos.tsx";
import FormContacto from "../components/FormContacto.tsx";
import RevealObserver from "../components/RevealObserver";
import AboutMe from "../components/AboutMe";
import Footer from "../components/Footer";
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Mi Portafolio</title>
  </head>
  <body>
    <RevealObserver client:load />
    <Header />
    <main>
      <Experiencia />
      <Proyectos client:load />
      <AboutMe />
      <FormContacto client:load />
      <Footer />
    </main>
  </body>
</html>
